<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="icon" type="image/png" href="../static/img/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <!-- voor styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- url_for searches for a file in a location-->
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	   <link rel="stylesheet" href="../static/CSS/materialize.min.css">
    <title>{{ title }}</title>
    <!--Download the Paho MQTT lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"
            type="text/javascript">
    </script>
    <title></title>
    <script type="text/javascript" src="../static/JS/config.js"></script>
    <script>

        // Diffent Host address, see:
        // https://www.eclipse.org/paho/files/jsdoc/Paho.MQTT.Client.html
        const host = config().HOST_MQTT_BROKER;
        const ID = config().MQTT_ID;
        const passWord = config().MQTT_PASSWORD;
        // New topic for WebApp message`s
        const topic = config().MQTT_TOPIC_PHONE;
        const topicTalk = config().MQTT_TOPIC_SAY;
        // Make new client
        client = new Paho.MQTT.Client(host, "home");

        // Connect
        client.connect({userName: ID, password: passWord, onSuccess: onConnect});

        // Clear the old status, just to be sure
        function onConnect() {
            client.subscribe(topic);
            sendMessage('4', config().MQTT_TOPIC_PY);
        }

        function sendMessage(toSend, whereToSend) {
            const message = new Paho.MQTT.Message(toSend);
            message.destinationName = whereToSend;
            client.send(message);
        }

        // If there is a message, redirect.
        client.onMessageArrived = function (message) {
            console.log(message.payloadString);
        }

        const proxyUrl = "https://cors-anywhere.herokuapp.com/"
        const apiKey = "4dc350ee8523445f85545f43001e506e";
        const url = `${proxyUrl}https://newsapi.org/v2/top-headlines?country=nl&apiKey=${apiKey}`;
        const request = new Request(url);
        fetch(request)
            .then(response => response.json())
            .then((news) => {
                console.log(news);
            })
            .catch(error => {
                console.log(error);
            });
    </script>
</head>
<body>
<div class="navbar-header">
    <div class="container">
        <a class="navbar-brand" href="/">Home</a>
    </div>
</div>

<div class="container">
		<div class="row">
			<div id="newsResults"></div>
		</div>

		<div id="loader">
			<div class="progress">
				<div class="indeterminate"></div>
			</div>
		</div>

	</div>

	<script src="../static/JS/jquery-3.3.1.min.js"></script>
	<script src="../static/JS/materialize.min.js"></script>
	<script src="../static/JS/app.js"></script>
</body>
</html>
