<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="icon" type="image/png" href="../static/img/favicon.ico">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title>{{ title }}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"
            type="text/javascript">
    </script>

    <script type="text/javascript" src="../static/JS/config.js"></script>
    <script>

        // Diffent Host address, see:
        // https://www.eclipse.org/paho/files/jsdoc/Paho.MQTT.Client.html
        const host = config().HOST_MQTT_BROKER;
        const ID = config().MQTT_ID;
        const passWord = config().MQTT_PASSWORD;
        // New topic for WebApp message`s
        const topic = config().MQTT_TOPIC_PHONE;
        const topicTalk = config().MQTT_TOPIC_SAY;
        // Make new client
        client = new Paho.MQTT.Client(host, "home");

        // Connect
        client.connect({userName: ID, password: passWord, onSuccess: onConnect});

        // Clear the old status, just to be sure
        function onConnect() {
            client.subscribe(topic);
            sendMessage('5', config().MQTT_TOPIC_PY);
        }

        function sendMessage(toSend, whereToSend) {
            const message = new Paho.MQTT.Message(toSend);
            message.destinationName = whereToSend;
            client.send(message);
        }

        // If there is a message, redirect.
        client.onMessageArrived = function (message) {
            console.log(message.payloadString);
            if (message.destinationName === topic) {
                if (message.payloadString === '1') {
                    changeSlide(false);
                } else if (message.payloadString === '2') {
                    changeSlide(true);
                }
            }
        }


        function changeSlide(dir) {
            if (dir) {
                document.getElementById("button-next").click();
            } else {
                document.getElementById("button-prev").click();
            }
        }

    </script>
</head>
<body>
<div class="navbar-header">
    <div class="container">
        <a class="navbar-brand" href="/">Home</a>
    </div>
</div>
<br>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block">
                    <h4>GEBRUIKERSHANDLEIDING</h4>
                    <br>
                    <h5>USERMANUAL</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Algemene navigatie:</h5>
                    <p> De algemene navigatie gaat via de toetsen op de telefoon, op de
                        hoofdpagina ziet u nummers naast de opties die u kunt aanklikken, door
                        een van deze nummers die afgebeeld staan op de hoofdpagina in te
                        toetsen op de telefoon zult u daar naar doorgestuurd worden.
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Rekenen:</h5>
                    <p>
                        Bij het spel rekenen kunt u meteen het antwoord intikken via de
                        nummers op de telefoon, door uw antwoord te controleren drukt u op de
                        knop ‘’*’’.
                    </p>
                    <h5>Sudoku:</h5>
                    <p>Bij het spel Sudoku klikt u eerst op de vak op de scherm, hierna kunt u
                        op de gewenste vak uw antwoord intikken via de nummers op de
                        telefoon.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <!--img src="static\img\stamppot.jpg" class="d-block w-100" alt="...">-->
                <div class="carousel-caption d-none d-md-block">
                    <h5>General navigation:</h5>
                    <p>
                        The general navigation is done by pressing the numbers on the
                        telephone which are assigned to your desired options.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Calculation game:</h5>
                    <p>
                        With the calculation game you can immediately enter your answer with
                        the numbers on the telephone. To check if you have entered the correct number
                        simply press the ‘’*’’ button on the telephone.
                    </p>
                    <h5>Sudoku:</h5>
                    <p>With the game sudoku you should first click on your desired square on
                        the screen, after this is done you can simply press the numbers on the
                        telephone.
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" id="button-prev" role="button"
           data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" id="button-next" role="button"
           data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
</body>
</html>
